body
{
    background: #355C7D;
    background: linear-gradient(to right, #d38b9f, #70647a, #587186);
    background-size: cover;
}
.quiz
{
    width:40%;
    margin:auto;
    margin-top: 20vh;
    background-color:#b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #bed8ff 100%);
    padding-top: 5vh;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.7);
}
h2
{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 15px;
}
ul
{
    list-style-type: none;
    padding-left:15px;
}
li
{
    font-family: 'Hind', sans-serif;
    font-size: 17px;
    margin-bottom:1%;
}
input, label
{
    cursor: pointer;
}
label
{
    margin-left:1.5vh;
}
button
{
    width: 100%;
    text-align: center;
    padding: 15px;
    outline: none;
    border:none;
    cursor: pointer;
    background-color: rgb(23, 23, 255);
    color: white;
    font-size: 19px;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: background-color 0.3s;
}
button:hover
{
    background-color: rgb(3, 3, 214);

}
@media (max-width:575px)
{
    .quiz
    {
        width:100%;
    }
}
@media (min-width:575px) and (max-width:767px)
{
    .quiz
    {
        width:85%;
    }
}
@media (min-width:768px) and (max-width:991px)
{
    .quiz
    {
        width:70%;
    }
}
@media (min-width:992px) and (max-width:1199px)
{
    .quiz
    {
        width:55%;
    }
}