.quiz
{
    width:40%;
    margin:auto;
    margin-top: 20vh;
    background-color:#b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #bed8ff 74%);

}
h2
{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
li
{
    font-family: 'Hind', sans-serif;
    list-style-type: none;
}
button
{
    width: 100%;
    text-align: center;
    padding: 15px;
    outline: none;
    border:none;
}